<div class='profile-flex'>
    <!--<div class='img-container'>
        <% if @spotify_user.info.images.empty? %>
            <%=image_tag("avatar.png", class: "profile-pic")%>
                <%else%>
                    <img src=<%=@spotify_user.info.images.first[ 'url'] %> class='profile-pic'>
                    <%end%>
    </div>-->

    <!--<section class='greeting'>
        <h2>Welcome,
            <%= @spotify_user.info.name %>
        </h2>
        <h4>
            <%= link_to  "Go To Spotify", @spotify_user.info.href%> |
                <%= link_to "Logout", logout_path, method: :delete%>
        </h4>
    </section>-->

    <div class='flex-container-row'>
        <div class='playlists'>
            <h2>Playlists</h2>
            <section class="playlist-listing">
                <table class="table playlist-table">
                    <tbody>
                        <% @spotify_user.playlists.each do |playlist| %>
                            <tr>
                                <td class='playlist-title' id=<%=playlist.id%> >
                                    <span class='playlist-owner-id'><%=playlist.owner_id%></span>
                                    <%= playlist.name %>
                                </td>
                                <td>
                                    <div class='action'>
                                        <span class='expand'>Expand</span><span class='select'>Select</span>
                                    </div>
                                </td>
                            </tr>
                            <%end%>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>