<div class='profile-flex'>
    <div class='img-container'>
        <img src=<%=@user_info[ 'images'][0][ 'url']%> class='profile-pic'>
    </div>

    <section class='greeting'>
        <h2>Welcome,
            <%= @user_info['display_name'] %>
        </h2>
        <h4>
            <%= link_to  "Go To Spotify", @user_info['href']%> |
                <%= link_to "Logout", logout_path, method: :delete%>
        </h4>
    </section>
    <div class='flex-container-row'>

        <section class="playlist-listing">
            <h2>Playlists:</h2>
            <%= form_tag( 'path' , remote: true) do |f| %>

                <table class="table playlist-table">
                    <tbody>

                        <% @user_playlists.each do |playlist| %>
                            <% unless playlist['owner']['id'] == current_user.uid %>
                                <tr>
                                    <td>
                                        <%= radio_button_tag(:playlist, playlist['id']) %>
                                    </td>
                                    <td>
                                        <%= link_to playlist['name'], playlist['external_urls']['spotify'] %>
                                    </td>
                                </tr>
                                <%end%>
                                    <%end%>
                    </tbody>
                </table>
                <% end %>
        </section>

        <section class="song-search">
            <!--<h2>Song Search:</h2>-->
            <div class="search-form">

                <%= form_tag("/search", method: "get", id: "song-search") do %>
                    <!--<%= label_tag :q, 'Song Search:', class: 'small_label' %>-->
                    <%= text_field_tag(:song_query)%>
                        <% end %>
                            <button id="song_query_submit">Song Search</button>
            </div>
            <div id='search-results'>

            </div>
        </section>
    </div>
</div>