<div class='profile-flex'>
    <div class='img-container'>
        <% if @spotify_user.user_info.images.empty? %>
            <%=image_tag("avatar.png", class: "profile-pic")%>
                <%else%>
                    <img src=<%=@spotify_user.user_info.images.first[ 'url'] %> class='profile-pic'>
                    <%end%>
    </div>

    <section class='greeting'>
        <h2>Welcome,
            <%= @spotify_user.user_info.name %>
        </h2>
        <h4>
            <%= link_to  "Go To Spotify", @spotify_user.user_info.href%> |
                <%= link_to "Logout", logout_path, method: :delete%>
        </h4>
    </section>

    <div class='flex-container-row'>


        <div class='playlists'>

            <h2>Playlists</h2>

            <section class="playlist-listing">

                <%= form_tag( 'path' , remote: true) do |f| %>

                    <table class="table playlist-table">
                        <tbody>

                            <% @spotify_user.playlists.each do |playlist| %>
                                <tr>
                                    <td>
                                        <%= radio_button_tag(:playlist, playlist.id) %>
                                    </td>
                                    <td class='playlist-title' id=<%=playlist.id%> >
                                        <span class='playlist-owner-id'><%=playlist.owner_id%></span>
                                        <%= playlist.name %>
                                    </td>
                                </tr>
                                <%end%>
                        </tbody>
                    </table>

                    <% end %>

            </section>


        </div>

        <section class="song-search">
            <div class="search-form">
                <%= form_tag("/song-search", method: "get", id: "song-search") do %>
                    <%= text_field_tag(:song_query)%>
                        <% end %>
                            <button id="song_query_submit">Song Search</button>
            </div>
            <div id='search-results'>
            </div>
        </section>

    </div>

</div>